.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
    color: #444;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
    position: relative;
}

.comment {
    position: absolute;
    color: #444;
    bottom: 13px;
    right: 15px;
    font-size: 25px;
}

.comment:hover {
    color: rgb(245, 211, 98);
    cursor: pointer;
}

.numb {
    position: absolute;
    left: 9px;
    bottom: 5px;
    color: #444;
    font-size: 15px;
    font-family: 'Changa', sans-serif;
}

.postType {
    position: absolute;
    left: 15px;
    bottom: 13px;
}

@media only screen and (max-width: 380px) {
    .postType{
        font-size: 14px;
    }
    .comment{
        font-size: 20px;
        bottom: 15px;
    }
    .numb{
        font-size: 12px;
        left: 7px;
    }
}